main h2{
    margin: 0;
}
main h3 {
    margin-top: 0;
}
section{
    padding-bottom: 80px;
}
.bio{
    display: flex;
    gap: 4rem;
}
@media screen and (max-width: 700px) {
    .bio{
        flex-direction: column;
        gap: 1.5rem;
    }
}
.profile-avater{
    aspect-ratio: 1 / 1;
    border-radius: 8%;
    overflow: hidden;
    border: solid 1px #000000a6;
    width: min(400px, 30vw);
    height: auto;
}
.brightness-0{
    filter: brightness(0.1);
}
.sns-links{
    padding-bottom: 2rem;
}
@media (prefers-color-scheme: dark){
    .brightness-0{
        filter: brightness(1);
    }
}
.button-row{
    display: flex;
    justify-content: flex-end;
}
.button-row .button-type1{
    margin-left: auto;
}
.making{
    display: flex;
    gap: 4rem;
    padding-bottom: 4rem;
}
.making img{
    width: 400px;
    height: auto;
    object-fit: scale-down;
    border-radius: 10px;
}
@media screen and (max-width: 700px) {
    .making{
        flex-direction: column;
        gap: 1.5rem;
    }
    .making img{
        width: 100%;
    }
}
.making-introduction{
    padding-bottom: 3rem;
}