:root{
    --thumbnail-width: 180px;
}

.artworks-list{
    display: flex;
    padding: 0px;
    flex-wrap: wrap;
    margin: -12px;
    list-style: none;
    padding-bottom: 8rem;
}
.artworks-item{
    width: var(--thumbnail-width);
    margin: 12px;
    display: flex;
    flex-direction: column;
    gap: 0;
}
.thumbnail-frame{
    width: var(--thumbnail-width);
    height: var(--thumbnail-width);
    overflow: hidden;
    border-radius: 8px;
}
.artworks-item img{
    object-fit: cover;
    object-position: center center;
    width: var(--thumbnail-width);
    height: var(--thumbnail-width);
    border-radius: 8px;
    transition: all 0.3s;
}
.artworks-item img:hover{
    transform: scale(1.15);
}
.artworks-item h3{
    color: rgb(41, 41, 41);
    font-size: 1rem;
    line-height: 1;
    margin: 0.2rem 0;
    max-width: var(--thumbnail-width);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.artworks-item a{
    text-decoration: none;
}
.artworks-item a:hover{
    text-decoration: underline;
}
@media screen and (width <= 700px){
    :root{
        --thumbnail-width: 150px;
    }
}