.artworks-list{
    display: flex;
    padding: 0px;
    flex-wrap: wrap;
    margin: -12px;
    list-style: none;
    padding-bottom: 8rem;
}
.artworks-item{
    width: 150px;
    margin: 12px;
    display: flex;
    flex-direction: column;
    gap: 0;
}
.artworks-item img{
    object-fit: cover;
    object-position: center center;
    width: 100%;
    border-radius: 8px;
    transition: opacity 0.2s;
}
.artworks-item h3{
    color: rgb(41, 41, 41);
    font-size: 1rem;
    line-height: 1;
    margin: 0;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.artworks-item a{
    text-decoration: none;
}
.artworks-item a:hover{
    opacity: 0.8;
}