:root{
    --thumbnail-width: 280px;
    --border-radius: 8px;
}

.blogs-list{
    display: flex;
    padding: 0px;
    flex-wrap: wrap;
    margin: -12px;
    list-style: none;
    padding-bottom: 8rem;
}
.blogs-item{
    width: var(--thumbnail-width);
    border-radius: var(--border-radius);
    background-color: white;
    border: solid 1px rgba(0, 0, 0, 0.089);
    padding-bottom: 1rem;
    margin: 12px;
    display: flex;
    flex-direction: column;
    gap: 0;
}
.thumbnail-frame{
    width: var(--thumbnail-width);
    aspect-ratio: 16/9;
    height: auto;
    overflow: hidden;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blogs-item img{
    object-fit: cover;
    object-position: center center;
    width: var(--thumbnail-width);
    height: var(--thumbnail-width);
    border-radius: 0;
    transition: all 0.6s;
}
.blogs-item img:hover{
    transform: scale(1.15);
}
.blogs-item h3{
    color: rgb(41, 41, 41);
    font-size: 1rem;
    line-height: 1.2;
    margin: 0.5rem;
    max-width: var(--thumbnail-width);
    height: calc(1 * 1.2 * 3rem);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
}
.blogs-item a{
    text-decoration: none;
}
.blogs-item a:hover{
    text-decoration: underline;
}
.blog-date{
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem;
}
@media screen and (width <= 700px){
    .blogs-list{
        justify-content: center;
    }
}