html{
    font-size: 16px;
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

body{
    margin: 0px;
    font-family: urw-din-semi-condensed, hiragino-kaku-gothic-pron, sans-serif;
    font-weight: 600;
    font-style: normal;
}
h1{
    margin: 0px;
}

/* This was made with GlassGenerator.netlify.app */ 
.glass-container-type1{
    color: white;
    backdrop-filter: blur(7px);
    background-color: rgba(65,101,113, 0.065);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 9px 5px;
}
.glass-container-type2{
    color: #000000;
    backdrop-filter: blur(7px);
    background-color: rgba(65,101,113, 0.065);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 9px 5px;
    background-image: linear-gradient(180deg, #e8ebf078, #ffffff94);
}

/* ヘッダーのスタイル */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*background-color: #ffffff;*/
    color: #000000;
    padding: 0.5rem 0;
    z-index: 1100;
    /*
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    background-image: linear-gradient(180deg, #e8ebf078, #ffffff94);
    */
    background-color: transparent;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 min(5vw, 20px) 0 20px;
}
.header-content a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.logo {
    font-size: 1.5rem;
}

.nav-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.humburger-menu{
    padding: 0.2rem .2rem 0 .2rem;
    transform: scale(1.2);
    border-radius: 7px;
    background-color: transparent;
    border: 1px solid #ffffff;
    backdrop-filter: blur(10px);
    background-image: linear-gradient(180deg, #e8ebf028, #ffffff41);
}
.nav-menu li {
    margin-left: 20px;
}

.nav-menu li:hover {
    filter: brightness(1.1);
}
.humburger-menu {
    cursor: pointer;
    transition: transform 0.3s ease;
}
.menu-icon{
    transition: transform 0.3s ease;
}

/* スライドインメニュー */
.menu-overlay {
    position: fixed;
    top: 0;
    right: -350px; /* 初期位置は画面外 */
    width: 300px;
    height: 100vh;
    color: white;
    transition: right 0.3s ease; /* スライドアニメーション */
    z-index: 1000;
    padding: 70px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.menu-overlay h1{
    padding: 0.5rem 0 0.5rem 0;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}
.menu-overlay.active {
    right: 0; /* メニューが表示される位置 */
}

.menu-overlay a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.menu-overlay a:hover {
    opacity: 0.7;
}

/* 背景オーバーレイ */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}


main{
    display: flex;
    flex-direction: column;
}

footer{
    padding: 4rem 0 2rem 0;
    color: #ffffff;
    background-color: #16212e;
    position: absolute;
    z-index: 3;
    width: 100%;
}
.footer-contents{
    padding-left: 0;
}
.footer-row1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 min(5vw, 20px) 0 20px;
    padding-bottom: 3rem;
}
footer h2{
    font-size: 1rem;
}
.sns-icon{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sns-links{
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 2rem 2rem 2rem;
    align-items: flex-start;
    gap: 16px;
    position: relative;
}
.sns-icon:hover {
    opacity: 0.7;
}

.rollup_active img{
    padding: 1rem;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #969696;
    color: #000000;
    position: fixed;
    z-index: 2000;
    right: 30px;
    bottom: 30px;
    transition: all .3s ease;
}
.rollup_active img:hover{
    color: #4071a8;
    padding: 1.2rem;
}