/* リセットCSS */
html{
    font-size: 16px;
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}
body{
    margin: 0px;
    font-family: urw-din-semi-condensed, hiragino-kaku-gothic-pron, sans-serif;
    font-weight: 600;
    font-style: normal;
}
main{
    display: flex;
    flex-direction: column;
    min-height: 75vh;
    background-color: #f7f7f7;
}
::selection{
    background-color: #212121;
    color: #ffffff;
}
img{
    user-select: none;
}

h1{
    margin: 0px;
    font-weight: 600;
}
h2, h3, h4, h5, h6{
    font-weight: 600;
}
article a{
    font-weight: 600;
    color: #000000;
    text-decoration: underline;
    transition: all 0.3s ease;
}
article p a:hover{
    color: #4071a8;
    text-decoration: underline;
}
article p{
    line-height: 1.8;
}
article li{
    line-height: 1.8;
}
article img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}
article ul{
    padding-left: 1rem;
}
.W3{
    font-family: urw-din, hiragino-kaku-gothic-pron, sans-serif;
    font-weight: 300;
    font-style: normal;
}
/* This was made with GlassGenerator.netlify.app */ 
.glass-container-type1{
    color: white;
    backdrop-filter: blur(7px);
    background-color: #16212e54;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 9px 5px;
}
.glass-container-type2{
    color: #000000;
    backdrop-filter: blur(7px);
    background-image: linear-gradient(180deg, #e8ebf078, #f7f7f794);
}
.button-type1{
    background-color: #ffffff71;
    border: solid 2px #00000056;
    height: 40px;
    border-radius: 20px;
    min-width: 100px;
    font-size: 15px;
    padding: 0 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: opacity .3s ease-in-out, transform .05s ease-in-out;
    position: relative;
}
.button-type1:hover{
    opacity: 0.8;
    transform: scale(1.05);
}
.button-type1 a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.section_type1{
    padding: 1rem 3rem 1rem 3rem;
    z-index: 2;
    background-color: #ffffff;
    height: 500px;
}
/* ヘッダーのスタイル */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #000000;
    padding: 0.5rem 0;
    z-index: 1100;
    background-color: transparent;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 min(5vw, 20px) 0 20px;
}
.header-content a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease;
}

.logo {
    font-size: 1.5rem;
}

.nav-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.humburger-menu{
    padding: 0.2rem .2rem 0 .2rem;
    border: solid 1px #0000004d;
    transform: scale(1.2);
    border-radius: 7px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.nav-menu li {
    margin-left: 20px;
}

.nav-menu li:hover {
    filter: brightness(1.1);
}

.menu-icon{
    filter: brightness(0.1);
    transition: transform 0.3s ease;
}
@media (prefers-color-scheme: dark) {
    .menu-icon{
        filter: brightness(1);
    }
}

/* スライドインメニュー */
.menu-overlay {
    position: fixed;
    top: 0;
    right: -450px; /* 初期位置は画面外 */
    width: min(400px, 85vw);
    height: 100vh;
    color: white;
    transition: right 0.3s ease; /* スライドアニメーション */
    z-index: 1000;
    padding: 100px 0px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    border-left: 2px rgb(71 103 122 / 35%) solid;
}
.menu-overlay a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 3rem 0.5rem 0;
    border-bottom: #ffffff00 1px solid;
    transition: all 0.3s ease;
}
.menu-overlay div{
    font-size: 1.2rem;
}
.menu-overlay small{
    font-size: 1rem;
}
.menu-overlay.active {
    right: 0; /* メニューが表示される位置 */
}
.menu-overlay a:hover {
    opacity: 0.7;
    border-bottom: #ffffffaf 1px solid;
}

/* 背景オーバーレイ */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

/* メインコンテンツのスタイル */
.layout{
    margin-left: auto;
    margin-right: auto;
    margin-top: 8rem;
    max-width: 1232px;
}
.main-section{
    padding: 0 1rem 0 1rem;
}
.page-head{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 1rem;
    padding-bottom: 0.5rem;
    margin-bottom: 6rem;
    border-bottom: solid 3px #000000;
}
.page-head2{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 1rem;
    padding-top: 2.5rem;
    margin-bottom: 5rem;
    border-top: solid 1px #00000096;
}
/* フッターのスタイル */
footer{
    padding: 4rem 0 2rem 0;
    color: #ffffff;
    background-color: #1e2c3d;
    position: absolute;
    z-index: 3;
    width: 100%;
}
.footer-contents{
    margin: 0 1rem 0 1rem;
}
.footer-row1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.footer-line{
    padding-bottom: 2rem;
    border-bottom: solid 1px #ffffff73;
    margin-bottom: 1rem;
}
footer h2{
    font-size: 1rem;
    margin: 0 0 1rem 0;
}
.sns-icon{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}
.sns-links{
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 2rem 2rem 2rem;
    align-items: center;
    gap: 2rem;
    position: relative;
}
.sns-icon:hover {
    opacity: 0.7;
}

.rollup img{
    padding: 0.7rem;
    border-radius: 50%;
    border: 1px solid #969696;
    color: #000000;
    position: fixed;
    z-index: 2000;
    right: 30px;
    bottom: 50px;
    transition: all .3s ease;
}
.rollup img:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 3px 0px;
    scale: 1.1;
}