html{
    font-size: 16px;
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

body{
    margin: 0px;
    font-family: urw-din-semi-condensed, hiragino-kaku-gothic-pron, sans-serif;
    font-weight: 600;
    font-style: normal;
}
h1{
    margin: 0px;
}
/* ヘッダーのスタイル */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*background-color: #ffffff;*/
    color: #000000;
    padding: 0.5rem 0;
    z-index: 1100;
    /*
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    background-image: linear-gradient(180deg, #e8ebf078, #ffffff94);
    */
    background-color: transparent;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 min(5vw, 20px) 0 20px;
}
.header-content a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.humburger-menu{
    padding: 0.2rem .2rem 0 .2rem;
    border-radius: 7px;
    background-color: transparent;
    border: 1px solid #ffffff;
    backdrop-filter: blur(10px);
    background-image: linear-gradient(180deg, #e8ebf028, #ffffff41);
}
.nav-menu li {
    margin-left: 20px;
}

.nav-menu li:hover {
    filter: brightness(1.1);
}
.humburger-menu {
    cursor: pointer;
    transition: transform 0.3s ease;
}
.menu-icon{
    transition: transform 0.3s ease;
}

/* スライドインメニュー */
.menu-overlay {
    position: fixed;
    top: 0;
    right: -350px; /* 初期位置は画面外 */
    width: 300px;
    height: 100vh;
    color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease; /* スライドアニメーション */
    z-index: 1000;
    padding: 70px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    backdrop-filter: blur(10px);
    background-image: linear-gradient(180deg, #e8ebf027, #ffffff2f);
    background-color: transparent;
}
.menu-overlay h1{
    padding: 0.5rem 0 0.5rem 0;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}
.menu-overlay.active {
    right: 0; /* メニューが表示される位置 */
}

.menu-overlay a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.menu-overlay a:hover {
    opacity: 0.7;
}

/* 背景オーバーレイ */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}


main{
    display: flex;
    flex-direction: column;
}

/* keyvisualのスタイル */
.keyvisual{
    width: 100%;
    height: min(97vw, 98vh);
    position: relative;
    z-index: 0;
}

.keyvisual img{
    width: 100%;
    position: absolute;
}
/* Shakeアニメーションの定義（上下方向も含む） */
@keyframes shake {
    0%, 100% {
        transform: translate(0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translate(-.2vw, -.2vw);
    }
    20%, 40%, 60%, 80% {
        transform: translate(.2vw, .2vw);
    }
}

/* hover時にshakeアニメーションを適用 */
.keyvisual_character img{
    animation: shake 20s infinite ease-in-out;
    animation-delay: 1.5s; /* 最も遅れて開始 */
}
.keyvisual_effect1 img{
    animation: shake 10s infinite ease-in-out;
    animation-delay: 1s; /* さらに遅れて開始 */
}
.keyvisual_front-obj img{
    animation: shake 15s infinite ease-in-out;
    animation-delay: 0.5s; /* 少し遅れて開始 */
}
.keyvisual_effect2 img{
    animation: shake 10s infinite ease-in-out;
    animation-delay: 0s;
}
/* 例：画面幅が n px 以上の時 */
@media screen and (1400px <= width) {
    /* ここにスタイルを記述 */
    .keyvisual{
        top: -300px;
        height: calc(95vw - 300px);
    }
}

.page_title{
    color: rgb(255, 255, 255);
    position: absolute;
    top: min(40vw, 58vh);
    left: 5%;
    font-size: min(10vw, 7rem);
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);

    /* 初期状態 */
    transform: translateX(20%);
    opacity: 0;

    /* アニメーション適用 */
    animation: slide-in 0.3s ease-out forwards;
}
/* アニメーション定義 */
@keyframes slide-in {
    0% {
        transform: translateX(20%);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


.section_type1{
    padding: 1rem 3rem 1rem 3rem;
    z-index: 2;
    background-color: #ffffff;
    height: 500px;
}

.heading1{
    font-size: 2rem;
}

footer{
    padding: 4rem 3rem 3rem;
    height: 15rem;
    color: #ffffff;
    background-color: #16212e;
    position: relative;
    z-index: 3;
}
footer h2{
    font-size: 1rem;
}
.sns_links{
    list-style-type: none;
    padding: 2rem 0 2rem 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}
.sns_links li {
    margin-right: 1rem;
}
.sns_links a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: color 0.3s ease;
}
.sns1 .icon{
    display: block;
    padding: 27px 0 0 0;
    width: 35px;
    height: 0;
    overflow: hidden;
    background-image: url(images/icons/brand-twitter1.svg);
    background-repeat: no-repeat;
    background-size: 35px 27px;
    text-indent: -5000px;
}
.sns2 .icon{
    display: block;
    padding: 27px 0 0 0;
    width: 35px;
    height: 0;
    overflow: hidden;
    background-image: url(images/icons/pixiv.svg);
    background-repeat: no-repeat;
    background-size: 35px 27px;
    text-indent: -5000px;
}
.sns3 .icon{
    display: block;
    padding: 27px 0 0 0;
    width: 35px;
    height: 0;
    overflow: hidden;
    background-image: url(images/icons/brand-bluesky.svg);
    background-repeat: no-repeat;
    background-size: 35px 27px;
    text-indent: -5000px;
}
.icon:hover {
    opacity: 0.7;
}

.rollup_active img{
    padding: 1rem;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #969696;
    color: #000000;
    position: fixed;
    z-index: 2000;
    right: 30px;
    bottom: 30px;
    transition: all .3s ease;
}
.rollup_active img:hover{
    color: #4071a8;
    padding: 1.2rem;
}
