.artworksList {
  display: flex;
  padding: 0px;
  flex-wrap: wrap;
  margin: -12px;
  list-style: none;
  padding-bottom: 8rem;
}
@media screen and (width <= 700px) {
  .artworksList {
    justify-content: center;
  }
}
